@font-face{
	font-family:'Comix';
	src:url('../fonts/comix/ComixNo2CLM-Medium.ttf') format('truetype')
}
@font-face{
	font-family:'Comix-bold';
	src:url('../fonts/comix/ComixNo2CLM-Bold.ttf') format('truetype')
}
@font-face{
	font-family:'FredokaOne';
	src:url('../fonts/FredokaOne/fonts/ttf/FredokaOne-Regular.ttf') format('truetype')
}
@font-face{
	font-family:'GanCLM';
	src:url('../fonts/GanCLM/gan/GanCLM-Bold.ttf') format('truetype')
}

body, html {
	height: 100%;
	overflow: hidden;
  }
  
  * {
	box-sizing: border-box;
  }
  
  .bg-image {
	/* The image used */
	background-image: url('https://shomer-rio.github.io/assets/images/banner.jpg');
  
	/* Add the blur effect */
	filter: blur(3px);
	-webkit-filter: blur(3px);
  
	/* Full height */
	height: 100%;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
	color: white;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
	font-family: 'GanCLM';
	font-size: 2.5em;
  }

  .bg-text p, .bg-text a {
	font-size: 1.5em;
  }