/* Color Scheme 
**
** Common Blue
*/
color {
    color: #004aad;
    color: #1874fe;
    color: #38b6ff;
    color: #35ffff;
}
/* Pastel
*/
color {
    color: #96bebd;
    color: #c3d3c8;
    color: #f0e8d2;
    color: #ffefd6;
}
/* Black
*/
color {
    color: #000000;
}