/*       Just setting CSS for the page   */
@import 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css';

* {
	margin: 0;
	padding: 0;
  }
  
  html,
  css {
	background-color: #222222;
	color: white;
	width: 100%;
	height: 100%;
  }
  
  .position {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-bottom: 1pt solid gray;
  }

  .position h1 {
	
	margin-bottom: 1em;
	font-size: 2em;
  }

  .position h2 {
	font-size: 5em;
}
  
  #workarea {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #222222;
	font-size: 0.6em;
	font-family: 'rawline', Arial, Helvetica, sans-serif;
  }
  
  #personal {
	color:white;
	text-decoration:none;
	position:absolute;
	bottom:15px;
	right:2%;
  }
  /*    start code for the actual button:         */
  
  
  /*   
	  Spot is the span on the inside of the href that
	  fills the parent and makes the hover and link work
	  for the entire div
  */
  
  .spot {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  }
  /*
	  This is the outer svg wrapper that the SVG itself will 
	  fill. Multiple svg-wrapper classes can be put side by side.
  */
  
  .svg-wrapper {
	margin-top: 0;
	position: relative;
	width: 150px;
	/*make sure to use same height/width as in the html*/
	height: 40px;
	display: inline-block;
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px;	
  }
  
  .svg-wrapper a {
	text-decoration: none;
  }
  /*
	This is where we define the fill, color, thickness,
	and stroke pattern of the SVG when there is no hover.
	The dasharray and offset together define the line position
	under the words. Here's also where the transition speed is set.
  */
  
  #shape {
	stroke-width: 6px;
	fill: transparent;
	stroke: #009FFD;
	stroke-dasharray: 85 400;
	stroke-dashoffset: -220;
	transition: 1s all ease;
  }
  /* 
	  Pushing the text up into the SVG. Without this the
	  text would be below the div's.
  */
  
  #text {
	margin-top: -35px;
	text-align: center;
  }
  
  #text p {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 2em;
  }
  /* 
	  Changing the shape on hover. I change the color of the stroke,
  make it thinner, then set it to again wrap around the entire parent element.
  */
  
  .svg-wrapper a:hover #shape {
	stroke-dasharray: 50 0;
	stroke-width: 3px;
	stroke-dashoffset: 0;
	stroke: #06D6A0;
  }